.forecast-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 2em 3em;
    border-radius: 10px 30px;
    transition: background .5s ease-in;
    &:hover {
        transition: background .5s ease-in;
        background: linear-gradient(rgba(white, .1), rgba(white, .2));
        cursor: pointer;
    }
    .day {
        color: white;
        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: 3px;
    }
    .icon {
        filter: invert(1);
        height: 70px;
    }
    .temp {
        color: white;
        font-size: 1.6rem;
    }
}