@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.dm-sans {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}

body {
    background-color: black;
    height: 100vh;
}

#root {
    height: 100%;
}

.weather-app-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .weather-app-grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 100px auto auto;
        width: 1150px;
        height: 850px;
        border-radius: 10px;
        box-shadow: rgba(#f30098, .5) 0px 0px 200px 1px;
        background-size: cover;
        background-image: url('../assets/bg.jpg');
        padding-inline: 100px;
        .search-section {
            grid-row: 1;
            grid-column: 1 / span 2;
            align-content: center;
            margin: auto;
        }
        .main-content-section {
            grid-row: 2;
            grid-column: 2;
        }
        .time-section {
            grid-row: 2;
            grid-column: 1;
        }
    }
}